<div class="listItem" [ngClass]="{'queryState':queryState}" >

    <div class="queryDiv" [hidden]="!queryState">
      <div class="queryDivInner">
        <div style="color: #f8000091">
          remove item?
        </div>
        <div style="margin:0 10px">
          <a (click)="onRemove(item.id)">yes</a>
          <a (click)="onQuery()">no</a></div>
      </div>
    </div>
  
    <div class="listItemInner" >
      <div (click)="showDetails.emit({bool:true, id:item.id})" class="itemText">
        <p >{{ item.text }}</p>
      </div>
      <div (click)="showDetails.emit({bool:true, id:item.id})" [hidden]="queryState" class="itemCreated">
        <p class="itemCreatedText"> {{ item.created | daysAgo | createdText}}</p>
      </div>
      <div class="itemSymbols" (click)="onQuery()">
        <h1 [class.test]="queryState">X</h1>
      </div>
    </div>
    
  </div>