<div *ngIf="items.length else ">
  <div class="inputBox">
    <form autocomplete="off" [formGroup]="addItemInput" (ngSubmit)="onSubmit(addItemInput.value)">
        <input id="inputText" type="text" formControlName="inputText" placeholder="new item..." autofocus>
    </form>
  </div>
  <div class="listSection">
    <!-- to do: -->
    <div class="listInner">
      <div  *ngFor="let item of items">
        <app-list-item [item]="item"></app-list-item>
        
      </div>
    </div>
  </div>
</div>